<!--<div class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="meetingModalLabel" aria-hidden="true">-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="meetingModalLabel" style="width: 100%">Add A Meeting</h5>
        <button type="button" class="close" (click)="closeMeetingModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="meeting-title">Title</label>
            <input type="text" class="form-control" id="meeting-title" formControlName="title">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="meeting-date">Date</label>
                <input type="date" class="form-control" id="meeting-date" formControlName="date">
              </div>
              <div class="col-4">
                <label for="meeting-date">Start Time</label>
                <input type="time" class="form-control" id="meeting-start-time" formControlName="startTime">
              </div>
              <div class="col-4">
                <label for="meeting-date">End Time</label>
                <input type="time" class="form-control" id="meeting-end-time" formControlName="endTime">
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="meeting-room">Location</label>
            <select class="form-control" id="meeting-room" formControlName="room">
              <option value="" disabled selected>Choose a room</option>
              <option *ngFor="let room of rooms" [value]="room.name">{{room.name}} ({{room.location}}, Capacity: {{room.capacity}})</option>
            </select>
          </div>
<!--          <div class="form-group">-->
<!--            <label for="meeting-room">Attendees</label>-->
<!--            <input type="text" class="form-control" id="meeting-attendees" formControlName="attendees">-->
<!--          </div>-->

          <div class="form-group">
            <label for="meeting-room">Attendees</label>

            <select id="attendees"  multiple="multiple" required class="validate form-control" name="attendees"
                    (change)="onSelect($event)">
              <option style="display:none"></option>
              <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
            </select>

          </div>

          <div class="form-group">
            <label for="meeting-room">Notes</label>
            <textarea type="text" class="form-control" id="meeting-notes" formControlName="notes"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeMeetingModal()">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--</div>-->
