<!--<div class="content" role="main">-->


<!--  <main>-->
<!--    <section class="content">-->
<!--      <app-home></app-home>-->
<!--    </section>-->
<!--  </main>-->
<!--  <app-post></app-post>-->
<!--  <app-login></app-login>-->
<!--</div>-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div *ngIf="user" class="container-fluid">
  <div class="row" [class.modal-open]="showModal">
    <!-- Sidebar -->
    <div class="col-md-3">
      <app-sidemenu (openModal)="openMeetingModalFromApp()"></app-sidemenu>
    </div>
    <!-- Main Content -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
      <div #meetingModal class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="meetingModalLabel" aria-hidden="true">
      <app-add-meeting (closeModal)="closeMeetingModalFromApp()"></app-add-meeting>
      </div>
    </div>
    <div *ngIf="showModal" class="modal-backdrop" (click)="closeMeetingModalFromApp()"></div>
</div>
</div>
<div *ngIf="!user" class="container-fluid">
  <router-outlet></router-outlet>
</div>


