.container-login-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8f5e9; /* Adjust the background color as needed */
}

.login-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-login {
  /*color: white;*/
  /*background-color: #178348;*/
  /*border-radius: 10px;*/
}

.login-button {
  float: right;
  padding: 10px 20px;
  background-color: #178348;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}


